/* UNIVERSAL SELECTOR */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
body {
       font-family: "Mulish", sans-serif;
       width: 85vw;
       margin: 0 auto;
}    
/* NAVBAR DESIGN */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: aqua;
}
.nav-logo {
    display: flex;
    gap: 15px;
}
.nav-logo h1 {
    font-size: 36px;
    font-weight: 800;
    color: #131318;
}
.nav-logo h1 span{
   color: #FF5400;
}
.nav-logo img {
   height: 50px;
   width: 50px;
}
.navbar ul {
    display: flex;
    justify-content: space-between;
    gap: 20px;
 
}
.navbar ul li {
    list-style: none;
}
.navbar ul li a{
  text-decoration: none;
  color: #424247;
  font-size: 18px;
}
.navbar ul li a span {

  color: #FF5400;
 
}
/* BANNER DESIGN */
.hero-section {
    background-image:  linear-gradient(to bottom, #131313ce, #d0d0ee00), url("./Images/Group\ 13\ \(1\)\ \(1\).png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    border-radius: 12px;
    margin-top: 20px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.hero-section div {
    background-color: brown;
     display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  gap: 35px;
}

.hero-section div h1 {
    font-size: 60px;
    font-weight: bolder;
}
.hero-section div p {
    text-align: center;
    font-size: 15px;
    font-weight: lighter;
    width: 65%;
      
   
}
.hero-section form {
  
    background-color: rgba(255, 255, 255, 0.3);
    display: flex;
    gap: 24px;
    padding: 12px;
    border-radius: 10px;
}
.hero-section div form select  {
  font-size: 16px;
    font-weight: 400;
    color: rgba(19, 19, 24, 0.5);
    background-color: #FFFFFF;
    border-radius: 8px;
    padding: 13px 15px;
    border: none;
}
 .btn {
   font-size: 14px; 
   font-weight: 300;
   padding: 13px 15px;
    border-radius: 8px;
    border: none;
   background-color: #ff5500;
   color: #ffffffe0;
}
 .btn:hover {
    transition: 0.5s;
    background-color: blueviolet;
    box-shadow: 1px 1px 5px rgba(128, 128, 128, 0.678);
    cursor: pointer;
}
/* POPULAR TOURS DESIGN */
.popular-tours {
    display: flex;
    gap: 80px;
    padding-top: 30px;
    background-color: rgba(85, 107, 47, 0.281);
    /* height: 70%; */
}
.popular-tours img {
    width: 440px;
    height: 390px;

}
 .popular-tours .popular-content h1 {
font-size: 48px;
font-weight: bolder;
color: #131318;

}
.popular-tours .popular-content p, ul {
    font-size: 14px;
    color: rgba(19, 19, 24, 0.7);

}
.popular-content ul {
    font-size: 14px;
    color: rgba(19, 19, 24, 0.7);
  background-color: rgba(165, 42, 42, 0.219);
  
}
.popular-content ul li {
    margin-left: 25px;
   line-height: 25px;
}
.popular-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* line-height: 18px; */
}
.popular-content .btn {
    width: fit-content;
    margin-bottom: 0;
    
}
/* CHOOSE YOUR DESTINATION RELATED DESIGN */
.destination-content {
    text-align: center;
    margin: 40px auto;
}
.destination-content h1 {
    font-size: 40px;
    font-weight: bolder;
    color: #131318
   
}
.destination-content p {
    font-size: 16px;
    width: 55vw;
    margin: 0 auto;
   background-color: rgba(137, 43, 226, 0.329);
    color: #1313183d
   
}

 .gallery {
 
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 1fr);
     column-gap : 8px;
     row-gap: 5px;
     margin: 0;
 }

/* .gallery img {
border-radius: 5px;  
} */
  


.img-1 {
   grid-column : span 6;
}
.img-2 {
     grid-column : span 6;  
 
}
.img-3 {
   grid-column : span 4;   
  
}
.img-4 {
     grid-column : span 5;  
}
   
.img-5 {
    grid-column: span 3;  
    
}
.img-6 {
    grid-column: span 5;  

}
.img-7 {
   grid-column: span 7;  
  
}
.gallery > div {
    position: relative;
}

.gallery h3 {
    text-align: center;
    margin: 0 auto;
    background-color: #ff550098;
    font-size: 28px;
    font-weight: bolder;
    color: #FFFFFF;
  position: absolute;
  top: 43%;
  left: 36%;

   
   
}
/* WHY CHOOSE US RELATED DESIGN */
.choose-content {
   text-align: center;
   margin: 35px auto;
}
.choose-content h1 {
    font-size: 35px;
    font-weight: bolder;
    color: #131318;
}
.choose-content p {
    font-size: 15px;
    font-weight: lighter;
    color: #131318bb;
    width: 50vw;
    margin: 10px auto;
}
.choose-card h1 {
    font-size: 28px;
    font-weight: bolder;
    color: #131318;
    margin-top: 20px;
      margin-bottom: 20px;
}
.choose-card p {
    font-size: 16px;
    font-weight: blighter;
    color: #13131870;
}
.choose-card {
   display: grid;
   grid-template-columns: repeat(2,1fr);
   gap: 10px;
}
.card-1, .card-2 {
    border: 1px solid #ff55001c;
    border-radius: 15px;
    padding: 30px 30px 30px 20px;
    background-color: #ac161604;
}
.card-2 {
    background-color: #29cdf60a;
}
.card-3 {
     border: 1px solid #ff55001c;
    border-radius: 15px;
    padding: 30px 30px 30px 20px;
    background-color: #ac161604;
    display: block;
margin: 0 auto;
width: 58%;
margin-top: 10px;
}
.card-3 h1 {
    font-size: 28px;
    font-weight: bolder;
    color: #131318;
    margin-top: 20px;
      margin-bottom: 20px;

}
.card-3 p {
      font-size: 16px;
    font-weight: blighter;
    color: #13131870;
}
/*  DEALS & DISCOUNT RELATED DESIGN */
.deals-content h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #131318;
    margin-bottom: 10px;
}
.deals-content p {
    font-size: 14px;
    color: #1313187e;
    width: 48vw;
    margin: 0 auto;
}
.deals-content {
    text-align: center;
    margin: 70px auto;

}