/* UNIVERSAL SELECTOR */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
body {
       font-family: "Mulish", sans-serif;
       width: 85vw;
       margin: 0 auto;
}    
/* NAVBAR DESIGN */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: aqua;
}
.nav-logo {
    display: flex;
    gap: 15px;
}
.nav-logo h1 {
    font-size: 36px;
    font-weight: 800;
    color: #131318;
}
.nav-logo h1 span{
   color: #FF5400;
}
.nav-logo img {
   height: 50px;
   width: 50px;
}
.navbar ul {
    display: flex;
    justify-content: space-between;
    gap: 20px;
 
}
.navbar ul li {
    list-style: none;
}
.navbar ul li a{
  text-decoration: none;
  color: #424247;
  font-size: 18px;
}
.navbar ul li a span {

  color: #FF5400;
 
}
/* BANNER DESIGN */
.hero-section {
    background-image:  linear-gradient(to bottom, #131313ce, #d0d0ee00), url("./Images/Group\ 13\ \(1\)\ \(1\).png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    border-radius: 12px;
    margin-top: 20px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.hero-section div {
    background-color: brown;
     display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  gap: 35px;
}

.hero-section div h1 {
    font-size: 60px;
    font-weight: bolder;
}
.hero-section div p {
    text-align: center;
    font-size: 15px;
    font-weight: lighter;
    width: 65%;
      
   
}
.hero-section form {
  
    background-color: rgba(255, 255, 255, 0.3);
    display: flex;
    gap: 24px;
    padding: 12px;
    border-radius: 10px;
}
.hero-section div form select  {
  font-size: 16px;
    font-weight: 400;
    color: rgba(19, 19, 24, 0.5);
    background-color: #FFFFFF;
    border-radius: 8px;
    padding: 13px 15px;
    border: none;
}
 .btn {
   font-size: 14px; 
   font-weight: 300;
   padding: 13px 15px;
    border-radius: 8px;
    border: none;
   background-color: #ff5500;
   color: #ffffffe0;
}
 .btn:hover {
    transition: 0.5s;
    background-color: blueviolet;
    box-shadow: 1px 1px 5px rgba(128, 128, 128, 0.678);
    cursor: pointer;
}
/* POPULAR TOURS DESIGN */
.popular-tours {
    display: flex;
    gap: 80px;
    padding-top: 30px;
    background-color: rgba(85, 107, 47, 0.281);
    /* height: 70%; */
}
.popular-tours img {
    width: 440px;
    height: 390px;

}
 .popular-tours .popular-content h1 {
font-size: 48px;
font-weight: bolder;
color: #131318;

}
.popular-tours .popular-content p, ul {
    font-size: 14px;
    color: rgba(19, 19, 24, 0.7);

}
.popular-content ul {
    font-size: 14px;
    color: rgba(19, 19, 24, 0.7);
  background-color: rgba(165, 42, 42, 0.219);
  
}
.popular-content ul li {
    margin-left: 25px;
   line-height: 25px;
}
.popular-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* line-height: 18px; */
}
.popular-content .btn {
    width: fit-content;
    margin-bottom: 0;
    
}