/* UNIVERSAL SELECTOR */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
body {
       font-family: "Mulish", sans-serif;
}    
/* NAVBAR DESIGN */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85vw;
    margin: 0 auto;
    background-color: aqua;
}
.nav-logo {
    display: flex;
    gap: 15px;
}
.nav-logo h1 {
    font-size: 36px;
    font-weight: 800;
    color: #131318;
}
.nav-logo h1 span{
   color: #FF5400;
}
.nav-logo img {
   height: 50px;
   width: 50px;
}
.navbar ul {
    display: flex;
    justify-content: space-between;
    gap: 20px;
 
}
.navbar ul li {
    list-style: none;
}
.navbar ul li a{
  text-decoration: none;
  color: #424247;
  font-size: 18px;
}
.navbar ul li a span {

  color: #FF5400;
 
}